@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image:url('img/3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
    background-color: #1c9a3c41;
}

footer {
    background-color: #333;
    color: #e1d4d4;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    main {
        padding: 10px;
    }
    .card {
        width: 100%;
       }
}

.header {
    padding-right: 3%;
    width: 100%;
    
}
h4{
    font-size: 25px;
    padding-left: 1%;
    padding-right: 1%;
    font-family: 'Open Sans', sans-serif;
}
.bd{
    font-size: 15px;
    padding-left: 1%;
    padding-right: 1%;
    text-align: justify;
}
dl {
    padding-left: 1%;
    padding-right: 1%;
}
dt {
    font-weight: bold;
}
dd {
    text-align: justify;
}

.hdsub {
    width: 100%;
    background-color: #1c9a3c94;
    height: 100%;
    color: white;
    text-align: right;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    width: 30%;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card img {
    width: 100%;
    height: auto;
}

.card h2 {
    text-align: center;
    padding: 10px;
    margin: 0;
}

.card a {
    color: black;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}
.material-symbols-outlined {
    font-size: 40px !important;
    padding-left: 2%;
}